:root {
	--primary-color: #f04a11;
	--secondary-color: #f09711;
	--accent-color: #f07111;
	--primary-btn: #f02311;
	--secondary-btn: #f0b211;
	--text-color: #f09b58;
	--bg-color: #000000;
	--text-color-white: #ffffff;
	--test-bg-color: #ffffff;
	--druid-card-text-bg: #f2ecda;
	--druid-card-border: #63a048;
	--druid-card-header: #6ea755;
	--druid-card-outer: #f0f0f0;
	--druid-card-text: #1a1a1a;
	--druid-card-text-border: #548a3d;
	--shadow-accent: 0px 3px 20px 10px var(--accent-color);
	--shadow-inset: 0px 0px 5px var(--druid-card-text-border) inset;
}

body {
	background-color: var(--bg-color);
	max-width: 1440px;
	max-height: 900px;
}

.text {
	color: var(--druid-card-text);
	font-family: 'MedievalSharp', sans-serif;
}

.header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	width: 50%;
	margin: auto;
	font-family: 'Love Light', sans-serif;
	font-size: 1.25rem;
	box-shadow: 0px 3px 20px 10px var(--accent-color);
	font-weight: 500;
	align-items: center;
}

.spell-cards {
	margin: 10px;
}

.spell-container {
	background-color: var(--druid-card-border);
	max-width: 20rem;
	width: 100%;
	padding: 13px;
	border-radius: 10px;
	margin-top: 30px;
}

.spell-name {
	display: flex;
	color: var(--text-color);
	background-color: var(--druid-card-text-bg);
	justify-content: center;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 0px 5px var(--druid-card-text-border) inset;
	height: 2rem;
	align-items: center;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

.spell-card span {
	display: flex;
	justify-content: center;
	color: var(--druid-card-outer);
	font-size: 0.625rem;
	margin-top: 1px;
	letter-spacing: 0.5px;
}

.spell-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4px;
	margin-top: 1px;
}

.spell-grid .spell-stat {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--druid-card-text-bg);
	box-shadow: 0px 0px 5px var(--druid-card-text-border) inset;
	margin: auto 0;
	padding-top: 5px;
}

.spell-grid h4,
.spell-grid p {
	font-family: 'MedievalSharp', sans-serif;
	margin: 0;
}

.spell-grid h4 {
	letter-spacing: 2px;
}

.spell-grid p {
	font-size: 0.875rem;
}
/* .spell-grid .time {
	border: 1px red solid;
}

.spell-grid .range {
	border: 1px red solid;
}

.spell-grid .components {
	border: 1px red solid;
}

.spell-grid .duration {
	border: 1px red solid;
}
 */
